USE [master]
GO
/****** Object:  Database [dbmidExam06]    Script Date: 12/28/2024 1:17:05 PM ******/
CREATE DATABASE [dbmidExam06]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbmidExam06', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbmidExam06.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbmidExam06_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbmidExam06_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbmidExam06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbmidExam06]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/28/2024 1:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Picture] [varchar](250) NULL,
	[IsContinued] [bit] NULL,
	[EntryDate] [date] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/28/2024 1:17:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[CatId] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [Picture], [IsContinued], [EntryDate]) VALUES (1, N'Admin 111', N'~/Pictures/Admin 111.jpg', 1, CAST(N'2024-12-26' AS Date))
INSERT [dbo].[Category] ([Id], [Name], [Picture], [IsContinued], [EntryDate]) VALUES (3, N'c7', N'~/Pictures/c7.jpg', 1, CAST(N'2024-12-28' AS Date))
INSERT [dbo].[Category] ([Id], [Name], [Picture], [IsContinued], [EntryDate]) VALUES (4, N'c88', N'~/Pictures/c8.png', 1, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [CatId], [Price]) VALUES (1, N'P1', 1, 500)
INSERT [dbo].[Product] ([Id], [Name], [CatId], [Price]) VALUES (2, N'p2', 1, 600)
INSERT [dbo].[Product] ([Id], [Name], [CatId], [Price]) VALUES (4, N'p7', 3, 700)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
