
<div class="badge">
    <h4 class="display-4">Sale product    </h4>
<hr>
<form #form='ngForm'    autocomplete="off" (submit)="onSubmit(form)">
    <!-- <input type="text" type="hidden" name="OrderId" #OrderId='ngModel' [(ngModel)]= 'formData.OrderId' />
    <input type="text" type="hidden"   name="ID" #ID='ngModel' [(ngModel)]= 'formData.ID' />-->
    <input type="text" type="hidden"   name="productName" #ItemName='ngModel' [(ngModel)]= 'saleDetails.productName' /> 
<div class="form-group">
    <label>product</label>
    <select type="text" class="form-control" name="productId"  #productId='ngModel' [(ngModel)]= 'saleDetails.productId' 
    (change)="updatePrice($event.target)">
    <option value="0"> Select item</option>
        <option *ngFor='let item of prdList' value="{{item.id}}">{{item.name}}</option>
</select>

</div>
<div class="form-row">
<div class="form-group col-md-6" >
    <label>Price</label>
    <input type="text" class="form-control" name="price" #Qty='ngModel' [(ngModel)]= 'saleDetails.price'    
   />
</div>

</div>


<div class="form-group">
   
    <button  class="btn btn-success " type="submit" >
        <i class="fa fa-plus-square"    >Add</i>
    </button>
    <button  type="button" class="btn btn-outline-dark ml-1 " (click)="closeDialog()">
            <i class="fa fa-close"    >Close</i>
        </button>
</div>
</form></div>

