<div class="row">
  <div class="my-2 col-6">
    <label>Tax Rate:</label>
    <select class="form-select" [value]="taxRate||0" (change)="taxRate=$any($event).target.value">
      <option value="0">None</option>
      <option value="10">10%</option>
      <option value="20">20%</option>
      <option value="50">50%</option>
    </select>
  </div>
</div>

<table class="table table-border table-striped">
  <thead>
    <tr>
      <th>Value</th>
      <th>Rate</th>
      <th>Result</th>
      <th>DropDownList</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tax of taxes">
      <td>{{tax.value}}</td>
      <td>{{tax.rate}}</td>
      <td>{{tax.value|addTax:tax.rate}}</td>
      <td>{{tax.value|addTax:(taxRate||0)}}</td>
    </tr>
  </tbody>
</table>